# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
